@model IEnumerable<Screening>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Screenings for @TempData["MovieName"]</h2>
        </div>
    </div>
    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Cinema
                </th>
                <th>
                    Time
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="50%">
                        @obj.Cinema.Name
                    </td>
                    <td width="50%">
                        @obj.Time.ToString();
                        @{
                        if (TempData["role"]!=null && TempData["role"].Equals("CONTENT-ADMIN")){
                                <form asp-controller="Screening" asp-action="Edit" method="get">
                                    <input type="hidden" name="Id" value=@obj.Id>
                                    <input type="submit" value="Edit" class="btn btn-warning">
                                </form>
                                <form asp-controller="Screening" asp-action="Delete">
                                    <input type="hidden" name="Id" value=@obj.Id>
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                </form>
                            } else if (TempData["role"]!=null && TempData["role"].Equals("CUSTOMER")){
                                if (obj.getAvailableSeats() > 0){
                                    <form asp-controller="booking" asp-action="Create" method="post">
                                        <input type="hidden" name="ScreeningId" value=@obj.Id>
                                        <input type="number" name="Seats" min="0" max="@obj.getAvailableSeats()">
                                        <input type="submit" value="Make Booking" class="btn btn-light">
                                    </form>
                                } else{
                                    <button type="button" class="btn btn-light" disabled>Full</button>
                                }
                            }
                        } 
                    </td>
                </tr>
            }
            @{
                if (TempData["role"] != null && TempData["role"].Equals("CONTENT-ADMIN"))
                {
                    <tr>
                        <form asp-controller="Screening" asp-action="Create" method="post">
                            <td>
                                <input name="CinemaName" class="control-label">
                    </td>
                            <td>
                                <input type="datetime-local"
                               name="Time"
                               value=@DateTime.Now;
                               min=@DateTime.Now;
                               max=@DateTime.Now.AddMonths(2); />
                                <input type="submit" value="Add Screening" class="btn btn-light" />
                                <input type="hidden" name="MovieName" value="@TempData["MovieName"]" />
                            </td>
                        </form>
                    </tr>
                }
            }
            
        </tbody>
    </table>
    <div>
        <a asp-controller="Movie" asp-action="Index">Back to Movies Menu</a>
    </div>
        <hr />
</div>
